[Desktop Entry]
Name=VipleStream
Comment=Stream games and other applications from another PC running VipleStream-Server, Sunshine, or GeForce Experience
Exec=viplestream
Icon=moonlight
StartupWMClass=com.piinsta
Terminal=false
Type=Application
Categories=Qt;Game;Network;RemoteAccess;
Keywords=viplestream;piinsta;nvidia;gamestream;stream;sunshine;moonlight;remote play;
